name: 'CI Pipeline'

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci-node:
    name: CI (Node)
    uses: ./.github/workflows/ci-node.yml

  ci-rust:
    name: CI (Rust)
    uses: ./.github/workflows/ci-rust.yml
